@font-face {
	font-family: 'Garamond';
	src: url("../fonts/Garamond.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Humanist 777 condensed bt';
	src: url("../fonts/Humanist-777-Bold-Condensed-BT.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Humanist777condensedbt';
	src: url("../fonts/Humanist777CondensedBT.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Garamond Original';
	src: url("../fonts/OriginalGaramondCBT.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Humanist 521';
	src: url("../fonts/Humanist521bt-roman.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}